B2-2M4E BATCH NALAIYA THIRAN/Auto_AI_NodeRed/flows.json
[{"id":"de0a8485ef9a3c15","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"0dd56bbf0838d159","type":"ui_form","z":"de0a8485ef9a3c15","name":"","label":"","group":"cd7a498b567da26b","order":4,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null}],"formValue":{"age":"","bmi":"","children":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":40,"wires":[["55f109b6b1011b74","4d4ed434a7752134"]]},{"id":"4684c29f13fb531c","type":"ui_dropdown","z":"de0a8485ef9a3c15","name":"","label":"Select the sex","tooltip":"","place":"Select option","group":"cd7a498b567da26b","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"male","value":"male","type":"str"},{"label":"female","value":"female","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":120,"y":180,"wires":[["a6675660c2c68e21","26108cac9cee5e7c"]]},{"id":"00b15b686f1ffb8c","type":"ui_dropdown","z":"de0a8485ef9a3c15","name":"","label":"are you a smoker","tooltip":"","place":"Select option","group":"cd7a498b567da26b","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":170,"y":320,"wires":[["fe7b2bfc46613276","c8b2edb9a972f0e7"]]},{"id":"0c09f83511f39cdb","type":"ui_dropdown","z":"de0a8485ef9a3c15","name":"","label":"Select region","tooltip":"","place":"Select option","group":"cd7a498b567da26b","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Northeast","value":"Northeast","type":"str"},{"label":"Northwest","value":"Northwest","type":"str"},{"label":"Southeast","value":"Southeast","type":"str"},{"label":"Southwest","value":"Southwest","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":150,"y":420,"wires":[["e63d0f4c5a8ac5bc","939df35bc74ef920"]]},{"id":"55f109b6b1011b74","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"a6675660c2c68e21","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":180,"wires":[]},{"id":"fe7b2bfc46613276","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":300,"wires":[]},{"id":"e63d0f4c5a8ac5bc","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":400,"wires":[]},{"id":"4d4ed434a7752134","type":"function","z":"de0a8485ef9a3c15","name":"global variables for form node","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"bmi\",msg.payload.bmi)\nvar apikey=\"ZtCcXhJX_CanSmxZ2MuR8R42UmZ3tAPorpQwfPuXKxto\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["aef41b519028ddfa"]]},{"id":"26108cac9cee5e7c","type":"function","z":"de0a8485ef9a3c15","name":"global variable for sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[[]]},{"id":"c8b2edb9a972f0e7","type":"function","z":"de0a8485ef9a3c15","name":"global variable for smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":360,"wires":[[]]},{"id":"939df35bc74ef920","type":"function","z":"de0a8485ef9a3c15","name":"global variable for region","func":"global.set(\"region\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":460,"wires":[[]]},{"id":"aef41b519028ddfa","type":"http request","z":"de0a8485ef9a3c15","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"credentials":{},"x":550,"y":100,"wires":[["28de7df8e8de0eb2","6dd604c45aff9c31"]]},{"id":"28de7df8e8de0eb2","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"6dd604c45aff9c31","type":"function","z":"de0a8485ef9a3c15","name":"pre prediction","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\",\"children\", \"smoker\",  \"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["3d75859997da8ac6"]]},{"id":"3d75859997da8ac6","type":"http request","z":"de0a8485ef9a3c15","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/51731390-a6ac-4b9e-aec2-0d40ba194d30/predictions?version=2022-10-17","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"credentials":{},"x":690,"y":240,"wires":[["29da0b329990e295","5c1731d1badb6a17"]]},{"id":"29da0b329990e295","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"5c1731d1badb6a17","type":"function","z":"de0a8485ef9a3c15","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["d6b30661358b08fe","e6096c963cc71544"]]},{"id":"d6b30661358b08fe","type":"debug","z":"de0a8485ef9a3c15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"e6096c963cc71544","type":"ui_text","z":"de0a8485ef9a3c15","group":"cd7a498b567da26b","order":5,"width":0,"height":0,"name":"","label":"The premium will be","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":440,"wires":[]},{"id":"cd7a498b567da26b","type":"ui_group","name":"iris prediction","tab":"576bbad419c5b588","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"576bbad419c5b588","type":"ui_tab","name":"Iris Predictor","icon":"dashboard","disabled":false,"hidden":false}]